@model ZillowSearch.Models.HomeViewModel

@section styles {
    @Styles.Render("~/Content/home")
}

@section scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/home")
}

<h1> Get Property Details</h1>

<div id="search-form">
    @using (Html.BeginForm("Search", "Home", FormMethod.Post, new { @class = "", role = "form" }))
    {        
        <input type="text" value="" name="Address" placeholder="Enter a Street Address" />        
        <input type="text" value="" name="CityAndStateOrZipCode" placeholder="Enter a City & State or a Zip Code"/>
        <input id ="search-form-submit" type="button" value="Search" class="" />
        <div class="form-error" style="display:none;"></div>
    }    
</div>
<hr />
<div id="search-details">
</div>

<script id="data-detail-template" type="text/x-handlebars-template">
    <div class="property-section">
        <h2>{{Address.Street}} {{Address.City}}, {{Address.State}} {{Address.ZipCode}} - ({{Address.Latitude}},{{Address.Longitude}})</h2>

        <div class="property-sub-section">
            <h3>Useful Links</h3>
            <div class="row"><span class="row-field">Home Details: </span><a class="row-detail">{{HomeDetailsLink}}</a></div>
            <div class="row"><span class="row-field">Chart Data: </span><a class="row-detail">{{GraphDataLink}}</a></div>
            <div class="row"><span class="row-field">Map This Home: </span><a class="row-detail">{{MapThisHomeLink}}</a></div>
            <div class="row"><span class="row-field">Similar Sales: </span><a class="row-detail">{{ComparablesLink}}</a></div>
        </div>

        {{#each LocalRealEstate}}
        <div class="property-sub-section">
            <h3>Local Real Estate - {{this.Region.Name}} - {{this.Region.Type}}</h3>
            <div class="row"><span class="row-field">Zindex Value: </span><span class="row-detail">{{this.ZindexValue}}</span></div>
            <div class="row"><span class="row-field">Zindex Year Change: </span><span class="row-detail">{{this.ZindexYearChange}}</span></div>
            <div class="row"><span class="row-field">Overview: </span><span class="row-detail">{{this.OverviewLink}}</span></div>
            <div class="row"><span class="row-field">For Sale By Owner: </span><a class="row-detail">{{this.ForSaleByOwnerLink}}</a></div>
            <div class="row"><span class="row-field">For Sale: </span><a class="row-detail">{{this.ForSaleLink}}</a></div>
        </div>
        {{/each}}

        <div class="property-sub-section">
            <h3>Zestimate Data</h3>
            <div class="row"><span class="row-field">Amount: </span><span class="row-detail">${{ZetimateDetails.Amount.DollarAmount}} {{ZetimateDetails.Amount.Type}}</span></div>
            <div class="row"><span class="row-field">Last Updated: </span><span class="row-detail">{{ZetimateDetails.LastUpdated}}</span></div>
            <div class="row"><span class="row-field">Value Change (30 Day): </span><span class="row-detail">${{ZetimateDetails.ValueChange30Day.DollarAmount}} {{ZetimateDetails.ValueChange30Day.Type}}</span></div>
            <div class="row"><span class="row-field">Valudation Change Low: </span><span class="row-detail">${{ZetimateDetails.ValuationChangeLow.DollarAmount}} {{ZetimateDetails.ValuationChangeLow.Type}}</span></div>
            <div class="row"><span class="row-field">Valudation Change High: </span><span class="row-detail">${{ZetimateDetails.ValuationChangeHigh.DollarAmount}} {{ZetimateDetails.ValuationChangeHigh.Type}}</span></div>
            <div class="row"><span class="row-field">Percentile: </span><span class="row-detail">{{ZetimateDetails.Percentile}}</span></div>
        </div>
    </div>
</script>